{% extends 'base.html' %}
{% block content %}
<h2>Diary</h2>
<form method="post" action="{% url 'diary:upload_image' %}" enctype="multipart/form-data" name="image">
    {% csrf_token %}
    <label>
        <input id="input_image_file" type="file" accept="image/*" name="image">
    </label>
    <input id="input_image_password" type="password" name="password" placeholder="비밀번호">
    <input id="input_image_button" type="submit" value="업로드">
</form>

<div id="diary">
    {% for image in image_list %}
    <form method="post" action="{% url 'diary:delete_image' image.id %}" name="delete_image_{{ image.id }}">
        {% csrf_token %}
        <input class="input_image_deletepass" type="password" name="password" placeholder="삭제 비밀번호">
        <input class="input_image_deletebtn" type="submit" value="삭제">
    </form>
    <div class="page">
        <img src="{{ image.image.url }}">
        {% for reply in image.reply_set.all %}
        <div class="reply reply_{{ reply.id }}">
            <p>{{ reply.name }}</p>
            <p>{{ reply.content }}</p>
            <p>{{ reply.date }}</p>
        </div>
        <form method="post" action="{% url 'diary:delete_reply' reply.id %}" name="delete_reply_{{ reply.id }}">
            {% csrf_token %}
            <input class="input_image_deletepass" type="password" name="password" placeholder="삭제 비밀번호">
            <input class="input_image_deletebtn" type="submit" value="삭제">
        </form>
        {% endfor %}
        <form method="post" action="{% url 'diary:create_reply' image.id %}" name="reply_{{ image.id }}">
            {% csrf_token %}
            <textarea name="content" placeholder="댓글을 남겨주세요"></textarea>
            <input class="input_reply_name" type="text" name="name" placeholder="닉네임">
            <input class="input_reply_password" type="password" name="password" placeholder="비밀번호">
            <input class="input_reply_submit" type="submit" value="등록">
        </form>
    </div>
    {% endfor %}
</div>

<div class="page_control">
    <!-- 이전페이지 -->
    {% if reply_list.has_previous %}
    <a class="page-link" href="?page={{ image_list.previous_page_number }}">&lt;이전페이지 /</a>
    {% endif %}
    <!-- 다음페이지 -->
    {% if reply_list.has_next %}
    <a class="page-link" href="?page={{ image_list.next_page_number }}">/ 다음페이지&gt;</a>
    {% endif %}
</div>

{% endblock %}