@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

:root {
  /* Color */
  --white-color: #fff;
  --black-color: #000;
  --grey-dark-color: #222;
  --grey-color: #666;
  --grey-light-color: #eee;
  --highlight-color: #eb737d;

  /* Size */
  --spacing-margin: 20px;
  --spacing-firstletter: 12px;
  --spacing-content: 8px;
  --spacing-box: 4px;
  --spacing-default: 5px;

  /* Font Size */
  --font-title: 400%;
  --font-heading: 200%;
  --font-large: 120%;
  --font-regular: 100%;
  --font-small: 85%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
  font-family: "Nanum Gothic";
}

p {
  margin: var(--spacing-content);
  line-height: 160%;
}

a:link {
  text-decoration: none;
  color: var(--grey-dark-color);
}

a:visited {
  text-decoration: none;
  color: var(--grey-dark-color);
}
a:hover {
  text-decoration: none;
  color: var(--grey-color);
}

img {
  border: none;
  max-width: 100%;
}

hr {
  margin: var(--spacing-margin) 0 var(--spacing-margin) 0;
  border: 0;
  border-top: 1px dashed var(--grey-color);
}

.endhr {
  margin: var(--spacing-margin) 0 var(--spacing-default) 0;
}

h1 {
  font-family: serif;
  text-align: right;
  font-size: var(--font-heading);
  color: var(--grey-dark-color);
  font-weight: normal;
  margin: var(--spacing-margin) 0 0 0;
  padding: 0;
}

h1:first-letter {
  color: var(--highlight-color);
}

#menu h1 {
  font-size: var(--font-title);
}
#sub_menu h1 {
  font-size: var(--font-title);
  text-align: left;
}

h2 {
  font-size: var(--font-regular);
  letter-spacing: 1px;
  border: 1px solid var(--grey-color);
  background-color: var(--grey-light-color);
  margin: var(--spacing-margin) 0 var(--spacing-box) 0;
  padding: var(--spacing-content) var(--spacing-firstletter);
}

h2:first-letter {
  color: var(--highlight-color);
}

.more_letter {
  color: var(--highlight-color) !important;
}

h3 {
  font-size: var(--font-large);
  margin: var(--spacing-margin) 0 var(--spacing-content) 0;
}

h4 {
  font-size: var(--font-regular);
  margin: var(--spacing-margin) 0 var(--spacing-content) 0;
}

blockquote {
  margin: var(--spacing-content);
  padding-left: var(--spacing-content);
  border-left: 2px solid var(--grey-color);

}

.right {
  float: right;
}

.hidden {
  display: none;
}

ul {
  margin: var(--spacing-content) 0 var(--spacing-content) 28px;
}

ol {
  margin: var(--spacing-content) 0 var(--spacing-content) 28px;
}

/* base */

#allpage {
  width: 1020px;
  margin: 0 auto;
}

#menu {
  width: 400px;
  float: left;
  margin: var(--spacing-default);
  text-align: center;
}

#sub_menu {
  display: none;
}

#content {
  width: 600px;
  height: 100vh;
  float: left;
  word-break: break-all;
  text-align: left;
  margin: var(--spacing-default);
}

/* diary */

.page {
  padding: var(--spacing-default);
  border: 1px dashed var(--grey-color);
  margin: var(--spacing-default) 0;
}

.page_id {
  margin: var(--spacing-box) 0;
  height: 20px;
}

.image {
  margin: var(--spacing-box) 0;
  clear: both;
  background-color: var(--grey-light-color);
  text-align: center;
}

.reply {
  clear: both;
  margin: var(--spacing-box) 0;
  padding: var(--spacing-default);
  border: 1px solid var(--grey-color);
}

/* diary input */

#input_image {
  margin: 0;
  border: 1px dashed var(--grey-color);
  margin: var(--spacing-default) 0 0 0;
  padding: var(--spacing-default);
  text-align: center;
}

#input_image label {
  height: 20px;
  cursor: pointer;
}

#input_image label img {
  height: 10px;
  margin: 0;
}

#input_image input[type="submit"] {
  all: unset;
  width: 58px;
  height: 18px;
  border: 1px solid var(--grey-color);
  background-color: var(--grey-light-color);
  padding: 0;
}

#input_image [type="password"] {
  all: unset;
  border: 1px solid var(--grey-color);
  background-color: var(--white-color);
  width: 98px;
  height: 18px;
  text-align: left;
}

.image_delete {
  margin: 0 0 var(--spacing-box) 0;
}

.image_delete span {
  display: inline-block;
  border: 1px solid var(--grey-color);
  background-color: var(--grey-light-color);
  width: 58px;
  height: 18px;
  text-align: center;
  cursor: pointer;
}

.image_delete [type="password"] {
  all: unset;
  display: inline-block;
  border: 1px solid var(--grey-color);
  background-color: var(--white-color);
  width: 98px;
  height: 18px;
}

.image_delete [type="submit"] {
  all: unset;
  display: inline-block;
  border: 1px solid var(--grey-color);
  background-color: var(--grey-light-color);
  width: 58px;
  height: 18px;
  text-align: center;
  cursor: pointer;
}

.reply_delete span {
  display: inline-block;
  border: 1px solid var(--grey-color);
  background-color: var(--grey-light-color);
  width: 58px;
  height: 18px;
  text-align: center;
  cursor: pointer;
}

.reply_delete [type="password"] {
  all: unset;
  border: 1px solid var(--grey-color);
  background-color: var(--white-color);
  width: 98px;
  height: 18px;
}

.reply_delete [type="submit"] {
  all: unset;
  border: 1px solid var(--grey-color);
  background-color: var(--grey-light-color);
  width: 58px;
  height: 18px;
  text-align: center;
  cursor: pointer;
}

.reply_button {
  padding: var(--spacing-box);
  border: 1px solid var(--grey-color);
  background-color: var(--grey-light-color);
  text-align: center;
  cursor: pointer;
}

.input_reply textarea {
  all: unset;
  box-sizing: border-box;
  border: 1px solid var(--grey-color);
  padding: var(--spacing-box);
  resize: none;
  width: 100%;
  height: 70px;
}

.input_reply input[type="text"] {
  all: unset;
  border: 1px solid var(--grey-color);
  background-color: var(--white-color);
  width: 118px;
  height: 18px;
}

.input_reply input[type="password"] {
  all: unset;
  border: 1px solid var(--grey-color);
  background-color: var(--white-color);
  width: 98px;
  height: 18px;
}

.input_reply input[type="submit"] {
  all: unset;
  border: 1px solid var(--grey-color);
  background-color: var(--grey-light-color);
  width: 58px;
  height: 18px;
  text-align: center;
  cursor: pointer;
}

/* blog */
#category_list {
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
}

.category_card {
  text-align: center;
  font-size: 100%;
  font-weight: bold;
  width: 195px;
  height: 398px;
  border: solid 1px var(--grey-dark-color);
  margin: var(--spacing-box) auto var(--spacing-box) auto;
}

.category_thumbnail {
  
  width: 100%;
  height: 360px;
}

.category_thumbnail img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.date {
  text-align: right;
}

/* bbs */

.reply_list p {
  border: 1px solid var(--grey-color);
  margin: 0;
  padding: var(--spacing-content);
}

.reply_list h3 {
  font-size: 100%;
  color: var(--grey-dark-color);
  border: 1px solid var(--grey-color);
  background-color: var(--grey-light-color);
  margin: -1px 0 0 0;
  padding: var(--spacing-content) var(--spacing-margin);
  cursor: pointer;
}

/* bbs input */

#input_guest {
  width: 600px;
  height: 100px;
  margin: var(--spacing-default) auto 0 auto;
}

#input_guest_content {
  float: left;
  width: 450px;
  height: 100px;
}

#input_guest_name {
  float: left;
  width: 150px;
  height: 100px;
}

#input_guest_content textarea {
  all: unset;
  border: 1px solid var(--grey-color);
  padding: var(--spacing-box);
  margin: 0 var(--spacing-box) 0 0;
  resize: none;
  width: 436px;
  height: 90px;
}

#input_guest_name input[type="text"] {
  all: unset;
  border: 1px;
  width: 148px;
  height: 18px;
  border: 1px solid var(--grey-color);
  padding: 0;
  margin: 0 0 var(--spacing-box) 0;
}

#input_guest_name input[type="submit"] {
  all: unset;
  width: 148px;
  height: 74px;
  border: 1px solid var(--grey-color);
  padding: 0;
  margin: 0;
  font-weight: bold;
  text-align: center;
  background-color: var(--grey-light-color);
  cursor: pointer;
}

/* etc */

.page_control {
  text-align: center;
  margin: var(--spacing-default) 0;
}

/* media query */

@media (max-width: 1020px) {
  #allpage {
    width: 600px;
  }

  #menu {
    float: none;
    margin: var(--spacing-default) auto 0 auto;
  }

  #content {
    float: none;
    margin: 0;
  }
}

@media (max-width: 600px) {
  #allpage {
    width: 98%;
  }

  #content {
    width: 100%;
  }

  #menu {
    display: none;
  }

  #sub_menu {
    display: block;
    width: 100%;
  }

  /* blog */

  #category_list {
    grid-template-columns: repeat(1, 100%);
  }

  .category_card {
    width: 100%;
    height: 198px;
  }

  .category_thumbnail {
    height: 160px;
  }

  /* bbs */

  #input_guest {
    height: 120px;
    width: 100%;
  }

  #input_guest_content {
    float: none;
    width: 100%;
    height: 90px;
  }

  #input_guest_name {
    float: none;
    width: 100%;
    height: 28px;
    margin: var(--spacing-box) 0 0 0;
  }

  #input_guest_content textarea {
    resize: none;
    width: 100%;
    margin: 0;
  }

  #input_guest_name input[type="text"] {
    width: 70%;
    height: 20px;
    padding: 0;
    margin: 0;
  }

  #input_guest_name input[type="submit"] {
    width: 29%;
    height: 20px;
    padding: 0;
    margin: 0;
    float: right;
  }
}
