@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body {
    margin: 0;
    font-size: 85%;
    color: #222222;
    font-family: 'Nanum Gothic';
}

p {
    margin: 4px;
    line-height: 120%;
}

a:link {
    text-decoration: none;
    color: #222222;
}

a:visited {
    text-decoration: none;
    color: #222222;
}
a:hover {
    text-decoration: none;
    color: #666666;
}

img {
    border: none;
}

hr {
    margin: 20px 0 5px 0;
    border: 0;
    border-top: 1px dashed #666666;
}

h1 {
    font-family: serif;
    text-align: right;
    font-size: 200%;
    color: #222222;
    font-weight: normal;
    margin: 20px 0 0 0;
    padding: 0;
}

h1:first-letter {
    color: #eb737d;
}

#menu h1 {
    font-size: 400%;
}
#sub_menu h1 {
    font-size: 400%;
    text-align: left;
}

h2 {
    font-size: 100%;
    color: #222222;
    letter-spacing: 1px;
    border: 1px solid #666666;
    background-color: #eeeeee;
    margin: 20px 0 0 0;
    padding: 7px 12px;
}

h2:first-letter {
    color: #eb737d;
}

.right {
    float:right;
}

.hidden {
    display: none;
}


/* base 정렬 */

#allpage {
    width: 820px;
    margin: 0 auto;
}

#menu {
    box-sizing: border-box;
    width: 400px;
    float: left;
    margin: 5px;
    text-align: center;
}

#sub_menu {
    box-sizing: border-box;
    display: none;
}

#content {
    box-sizing: border-box;
    width: 400px;
    height: 100%;
    float: left;
    word-break: break-all;
    text-align: left;
    margin: 5px;
}


/* diary */

#diary img {
    max-width: 100%;
}

.page {
    padding: 5px;
    border: 1px dashed #666666;
    margin: 5px 0;
}

.page_id {
    margin: 4px 0;
    height: 20px;
}

.image {
    margin: 4px 0;
    clear: both;
    background-color: #eeeeee;
    text-align: center;
}

.reply {
    clear: both;
    margin: 4px 0;
    padding: 4px;
    border: 1px solid #666666;
}


/* diary input */

#input_image {
    margin: 0;
    border: 1px dashed #666666;
    margin: 5px 0 0 0;
    padding: 5px;
    text-align: center;
}

#input_image label {
    height: 20px;
    cursor: pointer;
}

#input_image label img {
    box-sizing: border-box;
    height: 10px;
    margin: 0;
}

#input_image input[type = submit] {
    all: unset;
    width: 58px;
    height: 18px;
    border: 1px solid #666666;
    background-color: #EEEEEE;
    padding: 0;
}

#input_image [type = password] {
    all: unset;
    border: 1px solid #666666;
    background-color: #ffffff;
    width: 98px;
    height: 18px;
    text-align: left;
}

.image_delete {
    margin: 0 0 4px 0;
}

.image_delete span {
    display: inline-block;
    border: 1px solid #666666;
    background-color: #eeeeee;
    width: 58px;
    height: 18px;
    text-align: center;
    cursor: pointer;
}

.image_delete [type = password] {
    all: unset;
    display: inline-block;
    border: 1px solid #666666;
    background-color: #ffffff;
    width: 98px;
    height: 18px;
}

.image_delete [type = submit] {
    all: unset;
    display: inline-block;
    border: 1px solid #666666;
    background-color: #eeeeee;
    width: 58px;
    height: 18px;
    text-align: center;
    cursor: pointer;
}

.reply_delete span {
    display: inline-block;
    border: 1px solid #666666;
    background-color: #eeeeee;
    width: 58px;
    height: 18px;
    text-align: center;
    cursor: pointer;
}

.reply_delete [type = password] {
    all: unset;
    border: 1px solid #666666;
    background-color: #ffffff;
    width: 98px;
    height: 18px;
}

.reply_delete [type = submit] {
    all: unset;
    border: 1px solid #666666;
    background-color: #eeeeee;
    width: 58px;
    height: 18px;
    text-align: center;
    cursor: pointer;
}

.reply_button {
    padding: 4px;
    border: 1px solid #666666;
    background-color: #eeeeee;
    text-align: center;
    height: 16px;
    cursor: pointer;
}

.input_reply textarea {
    all: unset;
    box-sizing: border-box;
    border: 1px solid #666666;
    padding: 4px;
    resize: none;
    width: 100%;
    height: 70px;
}

.input_reply input[type = text]{
    all: unset;
    border: 1px solid #666666;
    background-color: #ffffff;
    width: 118px;
    height: 18px;
}

.input_reply input[type = password]{
    all: unset;
    border: 1px solid #666666;
    background-color: #ffffff;
    width: 98px;
    height: 18px;
}

.input_reply input[type = submit]{
    all: unset;
    border: 1px solid #666666;
    background-color: #eeeeee;
    width: 58px;
    height: 18px;
    text-align: center;
    cursor: pointer;
}


/* bbs */

.reply_list p {
    border: 1px solid #666666;
    margin: 0;
    padding: 10px;
}

.reply_list h3 {
    font-size: 100%;
    color: #222222;
    border: 1px solid #666666;
    background-color: #eeeeee;
    margin: -1px 0 0 0;
    padding: 7px 12px;
    cursor: pointer;
}


/* bbs input */

#input_guest {
    box-sizing: border-box;
    width: 400px;
    height: 80px;
    margin: 5px 0 0 0;
}

#input_guest_content {
    box-sizing: border-box;
    float: left;
    width: 300px;
    height: 80px;
}

#input_guest_name {
    box-sizing: border-box;
    float: left;
    width: 100px;
    height: 80px;
}

#input_guest_content textarea {
    all: unset;
    border: 1px solid #666666;
    padding: 4px;
    margin: 0 4px 0 0;
    resize: none;
    width: 286px;
    height: 70px;
}

#input_guest_name input[type = text] {
    all: unset;
    border: 1px;
    width: 98px;
    height: 18px;
    border: 1px solid #666666;
    padding: 0;
    margin:0 0 4px 0;
}

#input_guest_name input[type = submit] {
    all: unset;
    width: 98px;
    height: 54px;
    border: 1px solid #666666;
    padding: 0;
    margin: 0;
    font-weight: bold;
    text-align: center;
    background-color: #EEEEEE;
    cursor: pointer;
}


/* 기타 */

.page_control {
    text-align: center;
    margin: 5px 0;
}


/* 미디어쿼리 */

@media (max-width: 840px) { 
    #allpage {
        width: 400px;
    }

    #menu {
        float: none;
        margin: 5px 0 0 0;
    }

    #content {
        float: none;
        margin: 0;
    }
}


@media (max-width: 440px) {
    #allpage {
        width: 98%;
    }

    #content {
        box-sizing: border-box;
        width: 100%;
    }

    #menu {
        display: none;
    }

    #sub_menu {
        box-sizing: border-box;
        display: block;
        width: 100%;
    }


    /* bbs */

    #input_guest {
        height: 120px;
        width: 100%
    }

    #input_guest_content {
        float: none;
        width: 100%;
        height: 70px;
    }

    #input_guest_name {
        float: none;
        width: 100%;
        height: 28px;
        margin: 4px 0 0 0;
    }

    #input_guest_content textarea {
        box-sizing: border-box;
        resize: none;
        width: 100%;
        margin: 0;
    }

    #input_guest_name input[type = text] {
        box-sizing: border-box;
        width: 70%;
        height: 20px;
        padding: 0;
        margin: 0;
    }

    #input_guest_name input[type = submit] {
        box-sizing: border-box;
        width: 29%;
        height: 20px;
        padding: 0;
        margin: 0;
        float: right;
    }
}