{% extends 'base.html' %}
{% load static %}
{% block content %}

<h2>사월:April</h2>
<p>e-mail : april35592@gmail.com</p>
<p>
  <a href="https://github.com/april35592" target="_blank">github</a>
  /
  <a href="https://www.notion.so/april0ys/2021-6a17af7dfa904501afa2bd76d099af6b" target="_blank">notion</a>
  /
  <a href="https://twitter.com/niv_nip" target="_blank">twitter</a>
</p>
<br>
<img src="{% static 'banner.png' %}" width="200" height="40" alt="배너"/>
<p>site: http://april0ys.pe.kr/</p>
<p>banner: http://april0ys.pe.kr/static/banner.png</p>
{% endblock %}