{% extends 'base.html' %}
{% load static %}
{% block content %}

<h2>사월:April</h2>
<img src="{% static 'profile.png' %}" width="200" height="200" alt="profile image"/>
<p>
  코딩하는 오타쿠<br/>
  Otaku : 테일즈오브하츠(크로아세라프 최애), 로맨스판타지(여주판타지) 중심 웹소설, 자작 캐릭터<br/>
  Favorite : 독서, 쇼핑 등 소비활동과 그림, 코딩, 수공예 등 창작 활동<br/>
  Skill : HTML/CSS, JavaScript - React, Python - Django, JAVA
</p>
<p>
  e-mail : april35592@gmail.com<br>
  <a href="https://github.com/april35592" target="_blank">github</a>
  /
  <a href="https://twitter.com/niv_nip" target="_blank">twitter</a>
</p>
<p></p>

<h2>Banner</h2>
<img src="{% static 'banner.png' %}" width="200" height="40" alt="banner1"/>
<img src="{% static 'banner_.png' %}" width="90" height="30" alt="banner2"/>
<p>
  site: http://april0ys.pe.kr/<br>
  banner1: http://april0ys.pe.kr/static/banner.png<br>
  banner2: http://april0ys.pe.kr/static/banner_.png
</p>

<h4>Link</h4>
<p>
  <a href="http://homeunion.dothome.co.kr/" target="_blank">
    <img src="http://homeunion.dothome.co.kr/bn1.gif" width="90" height="30" alt="home union"/>
  </a>
  <a href="http://u-miniple.com/" target="_blank">
    <img src="http://u-miniple.tistory.com/attachment/cfile3.uf@170933415109E8591FC0C8.gif" width="90" height="30" alt="miniple union"/>
  </a>
</p>
{% endblock %}
