{% extends 'base.html' %}
{% block content %}

<form action="{% url 'bbs:guestcreate' %}" method="post">
    {% csrf_token %}
    {% if form.errors %}{% for field in form %}{% if field.errors %}
        <p><strong>{{ field.label }}</strong></p>
    {% endif %}{% endfor %}{% endif %}
    <div id="input_guest">
        <div id="input_content">
            <textarea id="input_guest_content" name="content" placeholder="남기실 메세지가 있다면 적어주세요!">{{ form.content.value|default_if_none:'' }}</textarea>
        </div>
        <div id="input_name">
            <input id="input_guest_name" type="text" name="name" placeholder="닉네임" value="{{ form.name.value|default_if_none:'' }}">
            <input id="input_guest_button" type="submit" value="전송">
        </div>
    </div>
</form>
<br><br><br><br><br><br>
<h1>Thanks For</h1>
{% if reply_list %}
    <div class="reply_list">
        {% for reply in reply_list %}
            <h3 class="reply_list">{{ reply.name }}</h3>
            <p class="reply_list">{{ reply.content }}</p>
        {% endfor %}
    </div>
{% endif %}

<p class="page_control">
    <!-- 이전페이지 -->
    {% if reply_list.has_previous %}
        <a class="page-link" href="?page={{ reply_list.previous_page_number }}">&lt;이전페이지 /</a>
    {% endif %}
    <!-- 다음페이지 -->
    {% if reply_list.has_next %}
        <a class="page-link" href="?page={{ reply_list.next_page_number }}">/ 다음페이지&gt;</a>
    {% endif %}
</p>
{% endblock %}